.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select[name="importance"]{
  width:80px;   
 }

 input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

#stop, #start, #period, #event, #importance  {font-weight:bold;}

input[name="event"]{
  font-weight:bold;
}
/* .a3 {
  background-color:  #f0eef3;
}  */

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: whitesmoke ;
  color:floralwhite;
}

a{ text-decoration:none;
  color:black;
}

.top-buffer { margin-top:50px; }

.form-top-buffer { margin-top:15px; }

.btn-top{margin-top:15px;
  margin-bottom:50px;
  font-weight:bold;
}

.header-top{margin-top:50px;}

.dateInput{margin-top:20px;}
.bottomBtn{
  margin-top:30px;
 
}
.dashboardTable{
  color: black;
}

.loginBtn{
  color: white;
}

.dsb{
  font-weight: bold;
}

/* .eventCol{
  background-color: #61dafb;
} */

.rowsBold{
  font-weight: bold;
}